.pageCover{
    background-image: -moz-linear-gradient(0deg, var(--main-color),#2f2f2f);
    height: calc(0.3*100vw);
    display: grid;
    grid-template-columns: 60% 40%;
}

.pageCoverGameScreen{
    position: relative;
    width: 100%;
    height: calc(0.3*100vw);
    bottom: calc(0.3*100vw);
}
