:root{
    --main-color: #111111;
    --second-color: #06ff00;
    --third-color: white;
}

html{
    font-family: monospace;
    background-color: var(--main-color);
    color: var(--second-color);
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:var(--second-color);
}